body{
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100vw;
  margin: 0 auto;
}

.contactContainer {
    display: flex;
    flex-basis: calc(50% - 5px); 
    /* flex-flow: wrap-reverse; */
    justify-content: space-around;
    align-items: flex-start;
    width: 100% !important;
    padding-top: 2em;
    text-align: center;
    margin-left: 0em;
}

.contact {
  height: 40em;
  width: 30em;
  background-color:lightgreen;
  box-sizing: border-box;
  margin: 0 auto;
}

.contact h1 {
  font-size: 1.2em;
  font-weight: 800;
  text-align: left;
  margin-left: 0.2em;
  margin-top: 0.5em;
}

.contactTitleLine {
  position: relative;
  margin-left: 0.2em;
  margin-right: 0.9em;
  padding-top: 0em;
  margin-top: 0em;  
  border-bottom: 2px solid #fa7268;

}

.contactForm input {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: solid #fa7268 1px;
  font-size: 1.2em;
  width: 15em;
  height: 8rem;
} 
 textarea {
   position: relative;
  font-size: 0.9em;
  height: 8em;
  width: 20em;
  text-align: center;
  font-size: 1.2em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fa7268;
} 

button {
  border: none;
  margin-top: 1.5rem;
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.9rem;
  background-color: #fa7268;
  font-size: 1.3em;
  color: floralwhite;
}
.contactPicture {
  height: 40em;
  width: 30em;
  background-color:red;
  box-sizing: border-box;
  margin: 0 auto;
  background-image: url(../sampleGroupPic.png);
  background-size: cover;
}


/* 
@media only screen and (min-width: 600px) {
.contactContainer .contactPicture { 
   height: 35em;
   width: 33em;
   background-color: lightpink;
   box-sizing: border-box;
}  
}*/

/* .aboutContainer { margin: 0px;}; */

.footNote{
  text-align: center;
  margin-top: 3.9em;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}



/* Portrait Settings */
@media only screen and (max-width: 1020px) {
  .body{
    height: 100vh;
    margin: 0 auto;
  }
  .contact { 
    height: 33em;
    width: 33em;
    background-color: lightpink;
    box-sizing: border-box;
 }  
 
.contactForm input {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: solid #fa7268 1px;
  font-size: 1.2em;
  width: 15em;
  height: 5rem;
} 
 textarea {
   position: relative;
  font-size: 0.9em;
  height: 8em;
  width: 20em;
  text-align: center;
  font-size: 1.2em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fa7268;
} 

  .contactPicture {
    display: none;
    margin-top: 0em;
    height: 0em;
    flex-flow: wrap-reverse;
  }

/* @media only screen and (max-width: 661px) {
  .body{
    height: 100vh;
    margin: 0 auto;
  }
   
  .contactPicture {
    display: none;
    margin-top: 0em;
    height: 0em;
    flex-flow: wrap-reverse;
  } */
  .contactForm {
    margin-top: 2em;
    height: 20em;
    display: inline-block;
    text-align: center;
  }
  .footNote{
    margin-top: 2.5em;
  }
}