body {
  /* height: 100%; */
  width: 100vw;
}
.container {
  display: flex;
  flex-wrap: column;
  margin-top: 2em;
  margin-left: 0.2em;
  margin-right: 0.2em;
} 

.gallerySideBar{
  position: -webkit-sticky;  
  position: sticky;
  top: 10px;
  margin: 0.1em;
  background-color: teal;
  width: 20vw;;
  height: 80vh;

  overflow-wrap: break-word;

}
.column {

    margin: 0;
    width: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
  }
 
  .column {
    margin: 0.08em;
    flex: 35%;
    width: 80vw;
    padding: 0 px;
  }
  
  .column img {
    vertical-align: middle;
    width: 100%;
    margin: 0.1em;
  }

  /* @media screen and (max-width: 800px) {
    .column {
      flex: 40%;
      max-width: 33vw;
    }
  } */

  @media screen and (max-width: 600px) {
    .column {
      margin-right: 0em;
      flex: 100%;
      width: 100vw;
    }
    .gallerySideBar{
      /* position: -webkit-sticky;  
      position: sticky;
      top: 10px;
      background-color: lightcoral;
      flex-wrap: wrap;
      width: 20em;
      height: 30vh; */
    }

    .gallerySideBar {
      position: absolute;
      left: 0;
      height: 0;
      text-align: left;
      margin-left: 0em;
    }


    .column {

      margin-top: 1em;;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: px;
    }
    .column img{
      width: 100%;
    }  




  }