/* .navBar {
    display: flex;
    justify-content: space-between;
    color: black;
    /* background-image: linear-gradient(#fa7268, #fafafa); */
    /* height: 5em; */
/*} */

.logo {
    margin-top: 2.3em;
    /* margin-left: 4.5em; */
    /* padding-top: 0em; */
    /* font-size: 2em; */
    /* font-weight: 700; */
    /* letter-spacing: 0.5em; */
}

/* 
.nav_links {
    margin-right: 5%;
    margin-top: 6.5%;
}

.nav_links a {
    margin-right: 2em;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
} */

/* start of Navbar */


.navBarLinks {
  font-size: 18px;
  font-weight: 550;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #36454F;
  float: right;
  margin: 0.7em;
  margin-top: -1.5em;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  /* -webkit-transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
  transition: color 2s ease-out; */
}

.navBar .navBarLinks:hover {
  background-color:orangered;
  color: white;
} 

.imagisticLogo {
    margin-top: 10em;
    margin-left: 5vw;
    font-size: 2.5em;
    font-weight: 800;
    letter-spacing: 10px;
    text-decoration: none;
    color: #36454F;
}
/* End of Navbar */


/* portrait */
@media only screen and (max-width: 661px) {
    .imagisticLogo {
        font-size: 1em;
        margin-right: 3em;
        margin-left: 0;
    }
    .navBar{
        width: 100vw;
        margin-bottom: 0;
        /* text-align: center; */
    }
    .logo {
        width: 100vw;
        text-align: center;
        margin-top: 1px;
        font-size: 2.5em;
        font-weight: 700;
        letter-spacing: 0em;
        margin-right: 6em;
        margin-left: 0;
    }
    .navLinkContainer {
        display: flex;
    }
    .navBarLinks {
        font-size: 1em;
        font-weight: 0;
        margin-top: 0.5em;
        margin-left: 1.3em;
        /* text-align: center; */
        text-transform: uppercase;
        text-decoration: none;
        color: #36454F;
        /* float: right; */
        -webkit-transition: background-color 2s ease-out;
        -moz-transition: background-color 2s ease-out;
        -o-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out;
    }

}

/* Landscape */
@media only screen and (max-height: 414px) {
    .logo {
        width: 100vw;
        text-align: left;
        margin-top: 0.1em;
        margin-left: 0;
        font-size: 2.5em;
        font-weight: 700;
        letter-spacing: 0em; 
        text-align: center;
    }
    .navBar {
        display: flex;
    }
    .navBarLinks {
        font-size: 1em;
        font-weight: 0;
        /* margin-top: -2em; */
        margin-left: 1em;
        margin-right: 1em;
        padding-right: 0em;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: #36454F;
        float: right;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    }

}