/* .navBar {
    display: flex;
    justify-content: space-between;
    color: black;
    /* background-image: linear-gradient(#fa7268, #fafafa); */
    /* height: 5em; */
/*} */

.logo {
    
        margin-left: 1em;
        padding-top: 0em;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5em;
      
}
/* 
.nav_links {
    margin-right: 5%;
    margin-top: 6.5%;
}

.nav_links a {
    margin-right: 2em;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
} */

/* start of Navbar */


.navBarLinks {
  font-size: 18px;
  font-weight: 550;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  float: right;
  margin: 0.7em;
  margin-top: -1.5em;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  /* -webkit-transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
  transition: color 2s ease-out; */
}

.navBar a:hover {
  background-color:orangered;
  color: white;
} 
/* End of Navbar */

@media only screen and (max-width: 661px) {
    .body{
      height: 100vh;
      margin: 0 auto;
    }

    .logo {
        width: 100vw;
        text-align: center;
        margin-top: 1px;
        font-size: 2.5em;
        font-weight: 700;
        letter-spacing: 0em;
      
}
    .navBarLinks {
        font-size: 0.8em;
        font-weight: 0;
        
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        
        margin-left: -0.8em;
        margin-top: 0em;
        margin-right: -0.8em;
    }




}